[Desktop Entry]
Name=Dune 3D
Comment=Parametric 3D CAD
Categories=Development;Engineering;
Type=Application
Terminal=false
Icon=org.dune3d.dune3d
Exec=dune3d %U
