<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include version.wxi?>

	<!-- change Product Id for every new version and subversion, do not change UpgradeCode -->
	<Product Name="$(var.FullProductName)" Id='*' UpgradeCode='911720d7-399c-4fe0-8678-f10801e06f70' Language='1033' Codepage='1252' Version='$(var.ProductVersion)' Manufacturer='Dune 3D project'>

		<Package Id='*' Keywords='CAD, 3D' Description="Installer for Dune 3D" Comments='Licensed under the GNU GPL' Manufacturer='Dune 3D project' InstallerVersion='$(var.InstallerVersion)' Platform='$(var.Platform)' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

		<Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" CompressionLevel="high"/>
		<Property Id='DiskPrompt' Value="Dune 3D Installation [1]" />

		<Property Id='ALLUSERS' Value="2" />

		<MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="9f531d2a-4156-4860-a50e-95e0e667df98" Win64='$(var.Win64)' >
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="$(var.FullProductName)"
						  Description="Dune 3D Application"
						  Target="[INSTALLDIR]dune3d.exe"
						  WorkingDirectory="INSTALLDIR"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\dune3d.org\dune3d" Name="startmenu_installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="afc62139-2158-4395-8d66-05ccfca9bfd9" Win64='$(var.Win64)'>
				<Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Target="[INSTALLDIR]dune3d.exe" Name="$(var.FullProductName)" WorkingDirectory='INSTALLDIR' />
				<RemoveFolder Id="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\dune3d.org\dune3d" Name="desktop_installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<Feature Id='Dune3D' Level='1' Absent="disallow" Display="expand" ConfigurableDirectory='INSTALLDIR' AllowAdvertise='no'
				 Title="$(var.FullProductName)"
				 Description='Dune 3D core files and shortcuts'>
			<!-- core files, i.e. everything that does not fit into any of the other features -->
			<ComponentGroupRef Id='AllOther' />

			<!-- shortcuts and file extensions -->
			<Feature Id='ApplicationShortcut' Level='1' AllowAdvertise='no'
					 Title='Start Menu entry'
					 Description='Create a link in the start menu.'>
				<ComponentRef Id='ApplicationShortcut' />
			</Feature>
			<Feature Id='DesktopShortcut' Level='1' AllowAdvertise='no'
					 Title='Desktop shortcut'
					 Description='Create a link on the desktop.' >
				<ComponentRef Id='DesktopShortcut' />
			</Feature>
		</Feature>


		<!-- set dialog custom bitmaps -->
		<WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dialog.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="Bitmaps\banner.bmp"/>

		<UI Id='Mondo'>
			<UIRef Id="WixUI_Mondo" />
			<UIRef Id="WixUI_ErrorProgressText" />
			<!-- skip EULA, see https://stackoverflow.com/a/27443137 -->
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg"  Order="3">1</Publish>
			<!-- skip the page on the way back too -->
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"  Order="3">1</Publish>
		</UI>


		<Icon Id="dune3d.ico" SourceFile="..\src\icons\dune3d.ico" />
		<Property Id="ARPPRODUCTICON" Value="dune3d.ico" />
	</Product>
</Wix>
