.dune3d-tool-bar-name-label {font-weight: bold;}

.solid-model-toggle-button:checked {border-color: rgba(0,0,0,0); background: none;}

.editor-key-box {
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
}

.editor-key-box > label {
 padding-left:.25em;
 padding-right:.25em;
 min-width:1em;
}

.editor-key-box > label:not(:last-child) {
  border-right: 2px solid;
}

.tnum {
  font-feature-settings: "tnum";
}

.welcome-box {
  border: 1px solid @borders;
  border-radius: 10px; 
  /*box-shadow: 0px 0px 85px 5px rgba(0, 0, 0, .5);*/
}

.welcome-title {font-weight: 800; font-size: 150%;}

.action-button {padding: 4px;}

/* workarounds for theme bugs */
.navigation-sidebar :selected image {color: @theme_fg_color;}
button.osd:disabled:backdrop {background-image: image(rgba(53, 53, 53, 0.7));}

.view-options-button > button {
  padding: 0px 8px 0px 8px;
  border: 0px;
}

.delete-revealer {border-radius: 5px;}
.delete-revealer button {border-radius: 0px;}
.selection-menu contents,arrow {background-color: alpha(@theme_bg_color, .75);}
