name: Flutter Build and Release

on:
  push:
    tags: [ 'v*' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        working-directory: ./dune3d_flutter
        run: |
          sudo apt-get update -y
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev
          flutter pub get

      - name: Build Linux
        working-directory: ./dune3d_flutter
        run: flutter build linux --release

      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: 'dune3d_flutter_linux.zip'
          directory: 'dune3d_flutter/build/linux/x64/release/bundle'

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dune3d_flutter/build/linux/x64/release/bundle/dune3d_flutter_linux.zip
