name: Android Build and Release

on:
  push:
    tags: [ 'v*' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        working-directory: ./dune3d_flutter
        run: flutter pub get

      - name: Build Android APK
        working-directory: ./dune3d_flutter
        # Using --debug for now as we don't have signing keys set up
        # and we don't want to fail on signing.
        # Ideally we would set up signing for a release build.
        run: flutter build apk --debug

      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: 'dune3d_flutter_android.zip'
          directory: 'dune3d_flutter/build/app/outputs/flutter-apk'

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dune3d_flutter/build/app/outputs/flutter-apk/dune3d_flutter_android.zip
