name: Build macOS binaries

on:
  push:
    branches:
      - '**'
      - '!appveyor-*'
      - '!freebsd-*'
      - '!pr-review*'
    tags: [ '*' ]
  pull_request:
    branches: [ main ]

jobs:
  build-macos:
    runs-on: macos-13
    steps:
    - name: Check tag
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "Building tag ${{ github.ref }}"
    - uses: actions/checkout@v4
    - name: Unbreak python in github actions
      run: |
        find /usr/local/bin -lname '*/Library/Frameworks/Python.framework/*' -delete
        sudo rm -rf /Library/Frameworks/Python.framework/
        brew install --force python3 && brew unlink python3 && brew unlink python3 && brew link --overwrite python3
    - name: Install
      shell: bash
      run: |
        brew install \
          llvm \
          eigen \
          opencascade \
          pkg-config \
          gtk4 \
          gtkmm4 \
          glm \
          range-v3 \
          mimalloc \
          pygobject3 \
          librsvg

        # the stable meson version seems to crash with the cmake dependency
        brew install --HEAD meson
    - name: Build
      run: bash scripts/build_macos.sh && otool -L build/dune3d
