name: Build Windows binaries

on:
  push:
    branches:
      - '**'
      - '!appveyor-*'
      - '!freebsd-*'
      - '!pr-review*'
    tags: [ '*' ]
  pull_request:
    branches: [ main ]

jobs:
  build-win32:
    runs-on: windows-latest
    steps:
    - name: Check tag
      if: startsWith(github.ref, 'refs/tags/')
      run: echo "Building tag ${{ github.ref }}"
    - uses: actions/checkout@v4
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-pkgconf
          mingw-w64-x86_64-gtkmm-4.0
          mingw-w64-x86_64-glm
          mingw-w64-x86_64-eigen3
          mingw-w64-x86_64-meson
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-python
          mingw-w64-x86_64-python-cairo
          mingw-w64-x86_64-python-gobject
          zip
          unzip
          git
          dos2unix
    - name: Install Opencascade lite
      shell: msys2 {0}
      run: |
        wget https://github.com/carrotIndustries/mingw-opencascade-lite/releases/download/v7.8.1-1/mingw-w64-x86_64-opencascade-lite-7.8.1-1-any.pkg.tar.zst
        pacman -U mingw-w64-x86_64-opencascade-lite-7.8.1-1-any.pkg.tar.zst --noconfirm
    - name: Use patched glib2
      shell: msys2 {0}
      run: |
        wget https://github.com/carrotIndustries/mingw-glib2/releases/download/2.86.3-2/mingw-w64-x86_64-glib2-2.86.3-2-any.pkg.tar.zst
        pacman -U mingw-w64-x86_64-glib2-2.86.3-2-any.pkg.tar.zst --noconfirm
    - name: Build
      shell: msys2 {0}
      run: |
        meson setup build
        meson compile -C build
    - name: Make dist
      shell: msys2 {0}
      run: ./make_bindist.sh
    - name: Check for missing DLLs
      shell: msys2 {0}
      run: ./check_dll.sh
    - name: set artifact name
      shell: msys2 {0}
      run: echo "artifact_name=dune3d-win64-$(date +%Y-%m-%d-%H%M)-$(echo ${{ github.ref_name }} | tr / -)" >> $GITHUB_ENV
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ env.artifact_name }}
        path: dist/*.zip
    - name: Build MSI
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/win32-installer'
      run: |
        $env:PATH += ";$($Env:WIX)\bin"
        cd wix
        .\install.bat
    - name: Print MSI checksum
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/win32-installer'
      shell: msys2 {0}
      run: sha256sum wix/*.msi
    - uses: actions/upload-artifact@v4
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/win32-installer'
      with:
        name: dune3d-win64-installer
        path: wix/*.msi
